<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.biacbiac.manage.dao.ProductCodeMapper" >
  <resultMap id="BaseResultMap" type="org.biacbiac.manage.entity.ProductCode" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="key" property="key" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="consumer_flag" property="consumerFlag" jdbcType="TINYINT" />
    <result column="agent_flag" property="agentFlag" jdbcType="TINYINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, key, product_id, consumer_flag, agent_flag, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_product_code
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_product_code
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.biacbiac.manage.entity.ProductCode" >
    insert into tbl_product_code (id, key, product_id, 
      consumer_flag, agent_flag, create_date
      )
    values (#{id,jdbcType=BIGINT}, #{key,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, 
      #{consumerFlag,jdbcType=TINYINT}, #{agentFlag,jdbcType=TINYINT}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.biacbiac.manage.entity.ProductCode" >
    insert into tbl_product_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="key != null" >
        key,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="consumerFlag != null" >
        consumer_flag,
      </if>
      <if test="agentFlag != null" >
        agent_flag,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="key != null" >
        #{key,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="consumerFlag != null" >
        #{consumerFlag,jdbcType=TINYINT},
      </if>
      <if test="agentFlag != null" >
        #{agentFlag,jdbcType=TINYINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_product_code
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.key != null" >
        key = #{record.key,jdbcType=BIGINT},
      </if>
      <if test="record.productId != null" >
        product_id = #{record.productId,jdbcType=BIGINT},
      </if>
      <if test="record.consumerFlag != null" >
        consumer_flag = #{record.consumerFlag,jdbcType=TINYINT},
      </if>
      <if test="record.agentFlag != null" >
        agent_flag = #{record.agentFlag,jdbcType=TINYINT},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_product_code
    set id = #{record.id,jdbcType=BIGINT},
      key = #{record.key,jdbcType=BIGINT},
      product_id = #{record.productId,jdbcType=BIGINT},
      consumer_flag = #{record.consumerFlag,jdbcType=TINYINT},
      agent_flag = #{record.agentFlag,jdbcType=TINYINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.biacbiac.manage.entity.ProductCode" >
    update tbl_product_code
    <set >
      <if test="key != null" >
        key = #{key,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="consumerFlag != null" >
        consumer_flag = #{consumerFlag,jdbcType=TINYINT},
      </if>
      <if test="agentFlag != null" >
        agent_flag = #{agentFlag,jdbcType=TINYINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.biacbiac.manage.entity.ProductCode" >
    update tbl_product_code
    set key = #{key,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      consumer_flag = #{consumerFlag,jdbcType=TINYINT},
      agent_flag = #{agentFlag,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>