<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.biac.manage.dao.SaleRecordMapper" >
  <resultMap id="BaseResultMap" type="org.biac.manage.entity.SaleRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="BIGINT" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, openid, address, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_sale_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="querySelective" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from tbl_sale_record
    <where>
      1=1
      <if test="code != null">
        and name LIKE '%${code}%'
      </if>
      <if test="nickname !=null">
        and openid in (
          SELECT openid from TBL_USER t2
          where t2.nikename LIKE '%${nickname}%'
        )
      </if>
    </where>
    ORDER BY create_time DESC
    limit #{page_start},#{page_end}
  </select>
  <select id="queryForSize" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from tbl_sale_record
    <where>
      1=1
      <if test="code != null">
        and name LIKE '%${code}%'
      </if>
      <if test="nickname !=null">
        and openid in (
        SELECT openid from TBL_USER t2
        where t2.nikename LIKE '%${nickname}%'
        )
      </if>
    </where>
  </select>
  <delete id="delete" parameterType="java.lang.String" >
    delete from tbl_sale_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.biac.manage.entity.SaleRecord" >
    insert into tbl_sale_record (id, code, openid, 
      address, create_time)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=BIGINT}, #{openid,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.biac.manage.entity.SaleRecord" >
    insert into tbl_sale_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=BIGINT},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_sale_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=BIGINT},
      </if>
      <if test="record.openid != null" >
        openid = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_sale_record
    set id = #{record.id,jdbcType=BIGINT},
      code = #{record.code,jdbcType=BIGINT},
      openid = #{record.openid,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.biac.manage.entity.SaleRecord" >
    update tbl_sale_record
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=BIGINT},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.biac.manage.entity.SaleRecord" >
    update tbl_sale_record
    set code = #{code,jdbcType=BIGINT},
      openid = #{openid,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>