<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>企业管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- wyh css --> 
	<link href="../static/user/css/basic.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
        <img src="../static/images/bg/bk7_1.jpg" id="bg-img"/>
		
		<header>
		    <div class="container">
			    <div class="col-xs-5 col-md-3">
				    <h3>企业<span>管理平台</span></h3>
				    </div>
				<div class="col-xs-6 col-xs-offset-1 col-md-3 col-md-offset-6">
				    <p>登出</p>
                	</div>			
			    </div>
		</header>
		
		<section>
		    <div class="container">
			    <div class="col-md-3" id="side-nav">
				    <div class="bar-block">
					    <header><h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span>用户管理</h3></header>
						<p class="bar-item" data-nav-group="nav-user">普通用户</p>
						<p class="bar-item" data-nav-group="nav-user">促销员</p>
						<p class="bar-item" data-nav-group="nav-user">经销商</p>
						<!--<p class="bar-item" data-nav-group="nav-user">企业</p>-->
					    </div>
					<hr/>
				    <div class="bar-block">
					    <header><h3><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>绩效管理</h3></header>
						<p class="bar-item">促销员绩效</p>					
						<p class="bar-item">经销商绩效</p>									
					    </div>
					<hr/>
				    <div class="bar-block">
					    <header><h3><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>信息管理</h3></header>
						<p class="bar-item productInfo" >产品信息</p>
						<p class="bar-item" data-nav-group="nav-info">经销点信息</p>
						<p class="bar-item" data-nav-group="nav-info">消费信息</p>
					    </div>
					<hr/>
				    <div class="bar-block">
					    <header><h3><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>促销活动</h3></header>
						<p class="bar-item">抽奖活动</p>
						<p class="bar-item">闯关活动</p>
						<p class="bar-item">积分换购</p>
					    </div>
					<hr/>
				    <div class="bar-block">
					    <header><h3><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>统计分析</h3></header>
						<p class="bar-item">销售走势</p>
						<p class="bar-item">经销网点</p>
						<p class="bar-item">货物流通</p>
					    </div>
				    </div>
					<!--side-nav end-->
					
				<div class="col-md-9" id="main-content">
					<header><h3>产品信息管理</h3></header>
					<hr/>
					
					<div class="group-nav underline-item-group">
						<p class="underline-item product-state-choose float-left">新建产品信息</p>
						<p class="underline-item product-state-choose float-left">已有产品信息</p>
						</div>
					
					<div class="info-panel">
					    <div class="createGoods">
							<hr/>
							<input type="text" placeholder="产品名称" style="font-size: 125%;font-weight: bold;display: block;width: 100%"></input>
							<hr/>
							<input type="text" placeholder="生产商" style="display: block;width: 100%"></input>
							<hr/>
							<input type="text" placeholder="生产地" style="display: block;width: 100%"></input>
							<hr/>
							<input type="text" placeholder="url" style="display: block;width: 100%"></input>
							<hr/>
							<div class="input-group">
								<input type="text" placeholder="单价" class="form-control" aria-describedby="copyPrice"></input><span class="input-group-addon" id="copyPrice">元</span>
								</div> 
							<hr/>
							<div class="input-group">
								<input type="text" placeholder="保质期" class="form-control" aria-describedby="guaranteeMonth"></input><span class="input-group-addon" id="guaranteeMonth">月</span>
								</div>  
							<hr/>
							<div class="input-group">
								<input type="text" placeholder="规格" class="form-control" aria-describedby="measurement"></input><span class="input-group-addon" id="measurement">瓶/箱</span>
								</div>
							<hr/>
							<textarea placeholder="产品描述" style="height: 20em; width: 100%"></textarea>
							<hr/>
							<!--img upload-->
							<h4>图片上传</h4>
							<div id="imgdiv"><img id="imgShow" width="600" height="450" /></div>
							<input type="file" id="up_img" class="center-block"/>
							<!--img upload end-->
							<hr/>
							<button type="button" class="btn btn-warning btn-lg center-block">提交</button>
							<hr/>
						    </div>
						<!-- createGoods -->
						
						<div class="editGoods template">
							<div class="goods-item template_ row">
								<div class="col-xs-4">
									<img src="images/user_prof/user1.jpg" class="img-rounded goods-prof" alt="user" />
									</div>
								<div class="col-xs-8">
								    <table class="product-info-table">
										<tbody>
										  <tr class="name">
										    <th>品名</th>
											<td>鲜橙多</td>
										  </tr>
										  <tr class="producer">
										    <th>生产商</th>
											<td>湖北省大创食品有限公司</td>
										  </tr>										  
										  <tr class="origin">
										    <th>生产地</th>
											<td>中华人民共和国湖北省武汉市珞喻路1037号</td>
										  </tr>
										  <tr class="url">
										    <th>url</th>
											<td>localhost/some/a</td>
										  </tr>
										  <tr class="price">
										    <th>单价/元</th>
											<td>5</td>
										  </tr>
										  <tr class="exp_date">
										    <th>保质期/月</th>
											<td>12</td>
										  </tr>
										  <tr class="box_cnt">
										    <th>规格(瓶/箱)</th>
											<td>12</td>
										  </tr>
										  <tr class="description">
										    <th>描述</th>
											<td>小天的味道</td>
										  </tr>

										</tbody>
									    </table>

									<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal-edit">
										编辑
									</button>
									<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal-delete">
										删除
									</button>
									
									<!-- Modal -->
									<div class="modal fade" id="myModal-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
									  <div class="modal-dialog" role="document">
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel">产品编辑</h4>
										  </div>
										  <div class="modal-body">
												<form>
													<hr/>
													<input type="text" placeholder="产品名称" name="name" style="font-size: 125%;font-weight: bold;display: block;width: 100%"></input>
													<hr/>
													<input type="text" placeholder="生产商" name="producer" style="display: block;width: 100%"></input>
													<hr/>
													<input type="text" placeholder="生产地" name="origin" style="display: block;width: 100%"></input>
													<hr/>
													<input type="text" placeholder="url" name="url" style="display: block;width: 100%"></input>
													<hr/>
													<div class="input-group">
														<input type="text" placeholder="单价" name="price" class="form-control" aria-describedby="copyPrice"></input><span class="input-group-addon" id="copyPrice">元</span>
														</div> 
													<hr/>
													<div class="input-group">
														<input type="text" placeholder="保质期" name="exp_date" class="form-control" aria-describedby="guaranteeMonth"></input><span class="input-group-addon" id="guaranteeMonth">月</span>
														</div>  
													<hr/>
													<div class="input-group">
														<input type="text" placeholder="规格" name="box_cnt" class="form-control" aria-describedby="measurement"></input><span class="input-group-addon" id="measurement">瓶/箱</span>
														</div>
													<hr/>
													<textarea placeholder="产品描述" name="description" style="height: 20em; width: 100%"></textarea>
													</form>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-default edit-close" data-dismiss="modal">关闭</button>
											<button type="button" class="btn btn-primary edit-done" data-dismiss="modal">确定</button>
										  </div>
										</div>
									  </div>
									</div>
									<!--edit modal-->
									
									<div class="modal fade" id="myModal-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
									  <div class="modal-dialog" role="document">
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel">产品删除</h4>
										  </div>
										  <div class="modal-body">
												<p>确定删除该产品？</p>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-default delete-close" data-dismiss="modal">关闭</button>
											<button type="button" class="btn btn-primary delete-done" data-dismiss="modal">确定</button>
										  </div>
										</div>
									  </div>
									</div>
									<!--edit modal-->
									
									</div>
								</div>
								<!--goods item-->
								<nav class="pageNav">
									<ul class="pagination">
										<li class="disabled">
										  <a href="#" aria-label="Previous">
											<span aria-hidden="true">&laquo;</span>
										  </a>
										</li>

										<li class="disabled">
										  <a href="#" aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
										  </a>
										</li>
									</ul>
								</nav>
						    </div>
						
						<!-- template -->

						</div>
						<!--info-panel end-->
			    </div>
				<!--container end-->
		</section>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/bootstrap-3.3.5-dist/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
	<!-- basic js -->
	<script src="../static/user/js/entProductInfo.js"></script>

  </body>
</html>